<% if @flavors_for_store.empty? %>
  <p><em>There are no flavors available</em></p>
<% else %>
  <h3>Jobs</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="225">Flavor Name</th>
        <th width="75">&nbsp;</th>
        
        
        
      </tr>
    </thead>
    <tbody>
      <% @flavors_for_store.each do |fl| %>
        <tr>
          <td><%= fl.flavor.name %></td>
          <td>
             <%= button_to 'Delete', fl, :method => :delete, :confirm => 'Are you sure?' %>
          </td>
          
          
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @flavors_for_store, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %> <p>&nbsp;</p>
<% end %>