<div class="row">
  <div class="small-7 columns">
    <h2><em>About A &amp; M Creamery</em></h2>

    <p>
    	You don't understand the true wonders of ice cream until you've had ice cream at the A&M Creamery. Using patented recipes, technology, and a bit of love, we created the worlds most uniquely delicious ice cream. Don't worry, it tastes like the ice cream you know and love, but with every bit of goodness brought out to the maximum. To understand this modern marvel, you have to come down today and try it!
    </p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</div>