<div class="row">
	<div class="small-7 columns">
		<h2>Contact Bread Express</h2>
		<p class="supertiny">&nbsp;</p>
		<table cellpadding="3">
			<tr>
				<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
				<td>The Legendary G</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>
				<%= mail_to("someone@cmu.edu", "Someone Else", :encode => "javascript") %> 
				</td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td>555-555-5555</td>
			</tr>
		</table>

		
			
			<p>&nbsp;</p>
			<p>&nbsp;</p>
	</div>
</div>