<div class="row">
	<div class="small-7 columns">
		<h2>A &amp; M Creamery Privacy Policy</h2>

		<p>The A &amp; M Creamery privacy policy is very simple: we will track anything pertaining to your ice cream preferences. We do this discretely, so you never have to tell us what you like; instead, when you walk into our store, we know what you like before you do. 
			<br><br>
			It's really that simple.
		</p>

		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</div>
</div>